<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DataModelContainer" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3QJNKRT\SQLEXPRESS;initial catalog=DesRunningSample;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Service.Services.AdminService">
        <endpoint address="http://localhost:8001/AdminService" binding="basicHttpBinding"
          bindingConfiguration="" name="AdminServiceEndpoint" contract="Service.Services.IAdminService" />
      </service>
      <service name="Service.Services.TeacherService">
        <endpoint address="http://localhost:8002/TeacherService" binding="basicHttpBinding"
          bindingConfiguration="" name="TeacherServiceEndpoint" contract="Service.Services.ITeacherService" />
      </service>
      <service name="Service.Services.StudentService">
        <endpoint address="http://localhost:8003/studentService" binding="basicHttpBinding"
          bindingConfiguration="" name="StudentServiceEndpoint" contract="Service.Services.IStudentService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>